@import "src/vars.scss";

.command-name {
  padding: 5px 0px;
  color: $detail-pane-sub-title-color;
  font-weight: 500;
  text-transform: capitalize;
}

.command-desc {
  padding: 10px 0px;
}

.command-text {
  padding: 10px;
  background-color: $right-panel-background-color;
  border-radius: 5px;
}

.styled-input {
  padding: 3px 6px;
  border: $input-border-color 1px solid;
  background-color: transparent;
  color: $detail-pane-sub-title-color;

  option {
    background-color: $right-panel-background-color;
    padding: 2px;
    border-bottom: 1px solid $input-border-color;
  }
}

h3 {
  font-size: 12pt;
  margin-top: 10px;
  padding-bottom: 10px;
}

label {
  margin: 0px;
}

$linkout-size: 30px;

.link-out {
  float: right;
  border-radius: 20px;
  padding: 5px;
  width: $linkout-size;
  height: $linkout-size;
}

.text-icon-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.larger-icon {
  font-size: 16px;
}
