<div class="essen-pane detail-pane">
  <h2 class="command-name">
    {{command.name}}
    <a class="mif-link link-out" *ngIf="command.link" [href]="command.link" target="_blank"></a>
  </h2>
  <div class="text-icon-wrapper">
    <div *ngIf="safetyIcon" class="text-icon-wrapper">
      <span [ngClass]="safetyIcon" class="larger-icon"></span>
      <span>{{command.safety}}</span>
    </div>
    <span *ngIf="command.adminRequired" class="text-icon-wrapper">
      <span class="mif-user larger-icon"></span>
      <span style="font-size: 13px;">Admin Permission required</span>
    </span>
  </div>
  <div class="command-desc">
    {{command.description}}

    <div *ngIf="command.inputs">
      <h3 class="underline">
        Parameters
      </h3>
      <div style="display: flex; flex-wrap: wrap; gap: 10px;" >
        <div *ngFor="let input of command.inputs">
          <label>{{input.displayName}}
            <input type="text" *ngIf="!input.options" class="styled-input" [(ngModel)]="inputValues[input.displayName]"  (ngModelChange)="updateText()">
            <select *ngIf="input.options" [(ngModel)]="inputValues[input.displayName]"  (ngModelChange)="updateText()" class="styled-input">
              <option *ngFor="let option of input.options" [value]="option">{{option}}</option>
            </select>
          </label>
        </div>
        <button class="flat-button" style="margin-left: auto;" (click)="reset();">
          Reset
        </button>
      </div>
    </div>
  </div>


  <div class="command-text">
    {{commandText}}
    <app-clip-board [text]="commandText"></app-clip-board>
  </div>
</div>
