<ul *ngIf="node.isExpanded" [attr.role]="node.depth === 0 ? 'group' : 'tree'" [attr.aria-expanded]="node.isExpanded">
    <li class="more-children" *ngIf="node.loadingChildren" [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }">
        <span class="mif-loop2 rotate"></span>
        <span>Loading...</span>
    </li>
    <li class="pager-control flex-center" *ngIf="node.listSettings && node.listSettings.pageCount > 1"
        [ngClass]="{'disabled': node.listSettings && node.listSettings.currentPage === 1}">
        <div style="padding-left: 54px;">
            <span [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }"></span>
            <div (click)="node.pageUp()" class=" expander icon mif-chevron-thin-up link"
                [title]="'Previous ' + node.listSettings.limit + ' items'"></div>
            <div (click)="node.pageFirst()"
                class="expander icon mif-vertical-align-top link pad-left"
                [title]="'First ' + node.listSettings.limit + ' items'"></div>
        </div>
    </li>
    <li *ngFor="let child of node.displayedChildren; trackBy: trackById" class="node"
        [ngClass]="{ 'selected': child.selected }" appScrollIntoView [selected]="child.selected">
        <button class="self hide-nested flex-center" (click)="child.select()" (keyup)="node.tree.onKeyDown($event)" role="treeitem"
            [attr.aria-level]="child.depth" [attr.aria-label]="child.displayName()">
            <span [ngStyle]="{ 'paddingLeft': child.paddingLeftPx }"></span>
            <button class="expander icon" (click)="child.toggle(); $event.stopPropagation()" *ngIf="child.hasExpander"
                [title]="child.isCollapsed ? 'Expand Children' : 'Collapse Children'">
                <span class=" mif-chevron-thin-right" [ngClass]="{'rotated': child.isCollapsed}"></span>
            </button>
            <button class="icon" *ngIf="child.node.canExpandAll && child.hasExpander"
                (click)="toggleExpand(child); $event.stopPropagation()"
                [title]="child.isCollapsed ? 'Expand All' : 'Collapse All'" style="width: 18px;">
                <span [ngClass]="{ 'mif-unfold-less': child.isCollapsed, 'mif-unfold-more': child.isExpanded }"
                    class="mif-lg"></span>
            </button>

            <span *ngIf="child?.badge()?.badgeClass !== 'badge-ok'" style="margin-right: 3px;">
                <app-health-badge [badgeClass]="child.badge()?.badgeClass" [text]="child.badge()?.text"
                    [showText]="false"></app-health-badge>
            </span>

            <div class="tree-label" [innerHTML]="child.displayHtml" [title]="child.displayName()"></div>

            <div *ngIf="child.actions && child.actions.length > 0" class="hidden right-action">
                <app-action-collection-drop-down [actionCollection]="child.actions"
                    [treeView]="true"></app-action-collection-drop-down>
            </div>
        </button>

        <app-tree-node [node]="child" *ngIf="child.isVisibleByBadge"></app-tree-node>
    </li>
    <li class="pager-control" *ngIf="node.listSettings && node.listSettings.pageCount > 1"
        [ngClass]="{'disabled': node.listSettings && node.listSettings.currentPage === node.listSettings.pageCount}">
        <div style="padding-left: 54px;">
            <span [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }"></span>
            <span (click)="node.pageDown()" class="icon pagedown-icon mif-chevron-thin-down link"
                [title]="'Next ' + node.listSettings.limit + ' items'"></span>
            <span (click)="node.pageLast()"
                class="icon pagedown-icon mif-vertical-align-bottom link pad-left"
                [title]="'Last ' + node.listSettings.limit +  ' items'"></span>
        </div>
    </li>
</ul>